*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lora', serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

#webp{
	height: 150px;
	width: auto;
}

.frontend{
	height: 100px;
	width: 100px;
}

#border{
	font-size: 1rem;
}

#navbar{
	position: fixed;
	top: 0;
	background-color: white;
}

#landing{
	
	padding-top: 80px;
}

#me{
	padding-top: 50px;
}

#projects{
	padding-top: 60px;
}

#tools{
	padding-top: 50px;
}

#contact{
	padding-top: 50px;
}

p, #navbar, details{
	font-family: 'Lora', serif;
}

ul{
	list-style: none;
}
#profilePicture{
	height: 300px;
	width: 330px;
}

.link{
	text-decoration: none;
	color: darkgray;
}

.email{
	font-size: 1rem;
}

#emailsent{
	text-decoration: none;
	color: whitesmoke;
}